[submodule "public/thoughts"]
	path = public/thoughts
	url = https://github.com/calamont/thoughts.git
	branch = main
[submodule "public/london-data"]
	path = public/london-data
	url = https://github.com/calamont/london-data.git
