:root {
  --sidebar-width: 220px;
  --sidebar-height: 100%;
  --display-toggle-button: none;
}

@media screen and (max-width: 800px) {
  :root {
    --sidebar-width: 100%;
    --sidebar-height: 70px;
    --display-toggle-button: inline;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px !important;
}

.callum-header {
  margin:0;
  padding: 32px 0px 0px 15px;
	height: 85px;
	font-family: 'Rubik';
	font-weight: 300;
	font-style: normal;
	font-size: 24px;
	letter-spacing: .10em;
	line-height: 1em;
	color: #991a1a !important;
  background-color: #f2f2f2;
}

.sidebar {
  top: 0px;
  height: 100%;
  width: var(--sidebar-width);
  position: fixed;
  overflow: hidden;
  color: rgb(0, 0, 0);
  white-space:nowrap;
  text-overflow: ellipsis;
  z-index: 1000;
}

.navbar-toggle {
  float: right;
  display: var(--display-toggle-button);
  margin-right: 30px;
  cursor: default;
  border-radius: 10px;
  color: red;
  /* The additions below prevent selection of the text */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

rect {
  fill: #bdbcbc;;
  border-radius: 50px;
}

.sidebar-toggle {
  overflow-y: hidden;
  opacity: 1.0;
  height: 3000px;
}

.sidebar-toggle-appear {
  opacity: 0.0;
  transition: opacity 700ms;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  overflow-y: hidden;
}

.sidebar-toggle-enter{
  opacity: 0.0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  overflow-y: hidden;
}

.sidebar-toggle-enter-done{
  height: 3000px;
  opacity: 1.0;
  background-color: #f2f2f2;
  transition: opacity 250ms;
  overflow-y: hidden;
}

.sidebar-toggle-exit{
  height: 3000px;
  opacity: 1.0;
  background-color: #f2f2f2;
  overflow-y: hidden;
}

.sidebar-toggle-exit-active{
  opacity: 0.0;
  display: none;
  background-color: #f2f2f2;
  transition: opacity 250ms;
  overflow-y: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.sidebar a:hover {
  color: #f1f1f1;
}
