:root {
  --blog-margin: 100px;
  --blog-margin-top: 60px;
  --sidebar-width: 220px;
  --sidebar-height: 100%;
  --display-toggle-button: none;
  --main-content-margin: 250px;
}

@media screen and (max-width: 1100px) {
  :root {
    --blog-margin: 20px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --sidebar-width: 100%;
    --sidebar-height: 70px;
    --main-content-margin: 0px;
    --blog-margin-top: 80px;
    --display-toggle-button: inline;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px !important;
}

.App {
  text-align: center;
  top: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------ BLOG PAGE PROPERTIES ------------ */

.callum-header {
  margin:0;
  padding: 32px 0px 0px 15px;
	height: 85px;
	font-family: 'Rubik';
	font-weight: 300;
	font-style: normal;
	font-size: 24px;
	letter-spacing: .10em;
	line-height: 1em;
	color: #991a1a !important;
  background-color: #f2f2f2;
  background-color: #ffffff;
}

.navbar-toggle {
  float:right
}
.sidebar {
  top: 0px;
  /* height: var(--sidebar-height); */
  height: 100%;
  width: var(--sidebar-width);
  position: fixed;
  overflow: hidden;
  /* transition: 0.5s; */
  /* background-color: #a2a2a2; */
  /* background-color: #f2f2f2; */
  color: rgb(0, 0, 0);
  white-space:nowrap;
  text-overflow: ellipsis;
  z-index: 1000;
}

.navbar-toggle {
  display: var(--display-toggle-button);
}

.theme-chunk {
  margin-bottom: 20px;
  width: 100%;
}

.theme-title {
  padding: 8px 8px 8px 15px;
  /* color: #f4f4f4; */
  color: #5e5e5e;
  display: block;
	font-family: 'Rubik';
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
  letter-spacing: .10em;
  line-height: normal
}

.theme-links {
  padding: 8px 8px 8px 15px;
  font-size: 15px;
  color: #f4f4f4 !important;
  display: block;
  transition: 0.3s;
  overflow-x: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  line-height: normal !important;
  height: 33px;
}

.theme-links a {
  /* color: #f4f4f4 !important; */
  color: #b16c6c !important;
  font-family: 'Helvetica Neue', sans-serif !important;
  font-size: 15px !important;
  text-decoration: none !important;
  line-height: normal !important;
  vertical-align: middle !important;
  display: block;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.theme-links-enter-active {
  height: 0px;
  overflow-y: hidden;
}

.theme-links-exit {
  transition: 0.3s;
  height: 200px;
  overflow-y: hidden;
}

.sidebar-toggle {
  overflow-y: hidden;
  opacity: 1.0;
  height: 3000px;
}

.sidebar-toggle-appear {
  opacity: 0.0;
  transition: opacity 700ms;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  overflow-y: hidden;
}

.sidebar-toggle-enter{
  opacity: 0.0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  overflow-y: hidden;
}

.sidebar-toggle-enter-done{
  height: 3000px;
  opacity: 1.0;
  background-color: #f2f2f2;
  transition: opacity 250ms;
  overflow-y: hidden;
}

.sidebar-toggle-exit{
  height: 3000px;
  opacity: 1.0;
  background-color: #f2f2f2;
  overflow-y: hidden;
}

.sidebar-toggle-exit-active{
  opacity: 0.0;
  display: none;
  background-color: #f2f2f2;
  transition: opacity 250ms;
  overflow-y: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/*  Settings controlling the accordion action on the sidebar */
.theme-accordion {
  overflow-y: hidden;
  line-height: normal !important
}

.theme-accordion-appear {
  max-height: 0px;
  overflow-y: hidden;
}

.theme-accordion-enter{
  max-height: 0px;
  overflow-y: hidden;
}

.theme-accordion-enter-done{
  max-height: 300px;
  /* background-color: #919191; */
  background-color: #ffffff;
  transition: max-height 700ms, background-color 200ms;
  overflow-y: hidden;
}

.theme-accordion-exit{
  max-height: 300px;
  /* background-color: #919191; */
  background-color: #ffffff;
  overflow-y: hidden;
}

.theme-accordion-exit-active{
  max-height: 0px;
  /* background-color: #919191; */
  background-color: #ffffff;
  transition: max-height 250ms cubic-bezier(.04,.65,.23,.98), background-color 100ms linear;
  overflow-y: hidden;
}

.main-content {
  margin-left: var(--main-content-margin);
  margin-top: 0px;
  margin-bottom: 50px;
}

.theme-links.active {
  transition: 0.3s;
  height: 0px;
  overflow-y: hidden;
}

.theme-links-closed {
  transition: 0.3s;
  height: 0px;
  overflow-y: hidden;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.blog-text img {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}

.blog-text h1 {
  width: 100%;
  margin: 0px;
  margin-bottom: 20px;
  margin-left: 20px !important;
	font-family: 'Rubik' !important;
	font-weight: 300 !important;
	font-style: normal !important;
	font-size: 27px !important;
	letter-spacing: .10em !important;
}

.blog-text > h1 {
  height: 100%;
}

.blog-text {
  max-width: 850px !important;
  margin-left: var(--blog-margin);
  margin-right: var(--blog-margin);
  margin-top: var(--blog-margin-top);
  font-family: 'Helvetica Neue', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	letter-spacing: .06em;
	line-height: 1.8em;
	text-transform: none;
  color: rgb(16, 16, 16);
  resize: inherit !important;
  /* color: rgba(29,29,29,.7); */
  word-break: break-word !important;
}


/* ---------- Jupyter notebook settings ---------- */
#notebook-container {
  padding: 0px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

div#notebook {
  font-size: 14px;
  line-height: 20px;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  padding-top: 0px !important;
  margin: 0px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 100%;
}

#notebook h1 {
  margin-top: 0px !important;
}

#notebook h3 {
  font-weight: normal !important;
  /* font-style: italic !important; */
}

.text_cell, .text_cell_render, .code_cell {
  padding: 0px !important;
}

.text_cell_render > sub {
  position: static !important;
}

.cell {
  position: static !important;
}

.prompt {
  padding: 0px !important;
  display: None;
  width: 0px;
}

.container {
  max-width: 850px !important;
  width: 100% !important;
}

.input_area {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 10px !important;
}

 /* --------- Uncomment below to toggle the sidebar --------- */

/* .sidebar-toggle {
  width: 200px;
  height: 1000px;
  overflow-y: hidden;
  background-color: #a2a2a2;
}

.sidebar-enter, .sidebar-appear {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
}

.sidebar-toggle-appear {
  width: 200px;
}

.main-content-appear {
  margin-left: 200px;
}

.sidebar-toggle-enter{
  width: 200px;
}

.main-content-enter {
  margin-left: 200px;
}

.sidebar-toggle-enter-done{
  width: 0px;
  transition: width 700ms
}

.main-content-enter-done {
  margin: 0px;
  transition: margin-left 700ms
}

.sidebar-toggle-exit{
  width: 0px;
}

.main-content-exit {
  margin-left: 0px;
}

.sidebar-toggle-exit-active{
  width: 200px;
  transition: width 700ms
}

.main-content-exit-active {
  margin-left: 200px;
  transition: margin-left 700ms
}

.main-content-exit-done {
  margin-left: 200px;
  transition: margin-left 700ms
} */

/* .openbtn {
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  background-color: #a2a2a2;
  color: #cccccc;
  padding: 0px;;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
} */
